parameters:
	ignoreErrors:
		-
			message: '#^Dynamic call to static method Illuminate\\Contracts\\Auth\\Guard\:\:check\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Http/Controllers/Web/Auth/LoginController.php

		-
			message: '#^Dynamic call to static method Illuminate\\Contracts\\Auth\\Guard\:\:check\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Http/Controllers/Web/Auth/RegisterController.php

		-
			message: '#^Dynamic call to static method Illuminate\\Contracts\\Auth\\Guard\:\:check\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Http/Controllers/Web/DashboardController.php

		-
			message: '#^Dynamic call to static method Illuminate\\Contracts\\Auth\\Guard\:\:id\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Http/Controllers/Web/DashboardController.php

		-
			message: '#^Dynamic call to static method Illuminate\\Contracts\\Auth\\Guard\:\:check\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Http/Requests/Review/StorePublicReviewRequest.php

		-
			message: '#^Dynamic call to static method Illuminate\\Contracts\\Auth\\Guard\:\:id\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Http/Requests/Review/StorePublicReviewRequest.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Author\\AuthorResource\:\:\$createdAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Author/AuthorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Author\\AuthorResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Author/AuthorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Author\\AuthorResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Author/AuthorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Author\\AuthorResource\:\:\$updatedAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Author/AuthorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$authorId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$averageRating\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$coverImage\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$createdAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$price\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$publishYear\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$ratingsCount\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$stock\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Book\\BookResource\:\:\$updatedAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Book/BookResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CartItem\\CartItemResource\:\:\$bookId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CartItem/CartItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CartItem\\CartItemResource\:\:\$createdAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CartItem/CartItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CartItem\\CartItemResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CartItem/CartItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CartItem\\CartItemResource\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CartItem/CartItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CartItem\\CartItemResource\:\:\$updatedAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CartItem/CartItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CartItem\\CartItemResource\:\:\$userId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CartItem/CartItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Favorite\\FavoriteResource\:\:\$bookId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Favorite/FavoriteResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Favorite\\FavoriteResource\:\:\$createdAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Favorite/FavoriteResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Favorite\\FavoriteResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Favorite/FavoriteResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Favorite\\FavoriteResource\:\:\$updatedAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Favorite/FavoriteResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Favorite\\FavoriteResource\:\:\$userId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Favorite/FavoriteResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Genre\\GenreResource\:\:\$createdAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Genre/GenreResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Genre\\GenreResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Genre/GenreResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Genre\\GenreResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Genre/GenreResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Genre\\GenreResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Genre/GenreResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Genre\\GenreResource\:\:\$updatedAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Genre/GenreResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Order\\OrderResource\:\:\$createdAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Order/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Order\\OrderResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Order/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Order\\OrderResource\:\:\$paymentMethod\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Order/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Order\\OrderResource\:\:\$shippingAddress\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Order/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Order\\OrderResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Order/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Order\\OrderResource\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Order/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Order\\OrderResource\:\:\$updatedAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Order/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Order\\OrderResource\:\:\$userId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Order/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderItem\\OrderItemResource\:\:\$bookId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderItem/OrderItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderItem\\OrderItemResource\:\:\$createdAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderItem/OrderItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderItem\\OrderItemResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderItem/OrderItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderItem\\OrderItemResource\:\:\$orderId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderItem/OrderItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderItem\\OrderItemResource\:\:\$priceAtPurchase\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderItem/OrderItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderItem\\OrderItemResource\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderItem/OrderItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderItem\\OrderItemResource\:\:\$updatedAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderItem/OrderItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Review\\ReviewResource\:\:\$bookId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Review/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Review\\ReviewResource\:\:\$comment\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Review/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Review\\ReviewResource\:\:\$createdAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Review/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Review\\ReviewResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Review/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Review\\ReviewResource\:\:\$rating\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Review/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Review\\ReviewResource\:\:\$updatedAt\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Review/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Review\\ReviewResource\:\:\$userId\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Review/ReviewResource.php

		-
			message: '#^Dynamic call to static method Illuminate\\Foundation\\Application\:\:isProduction\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Author\>\:\:limit\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/AuthorRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Author\>\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: app/Repositories/Eloquent/AuthorRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Author\>\:\:select\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: app/Repositories/Eloquent/AuthorRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Author\>\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/AuthorRepository.php

		-
			message: '#^Method App\\Repositories\\Eloquent\\AuthorRepository\:\:update\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Repositories/Eloquent/AuthorRepository.php

		-
			message: '#^Access to an undefined property App\\Models\\Review\:\:\$ratings_count\.$#'
			identifier: property.notFound
			count: 1
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Cannot access property \$avg_rating on App\\Models\\Review\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Casting to float something that''s already float\.$#'
			identifier: cast.useless
			count: 1
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Book\>\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Book\>\:\:orderByRaw\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 4
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Book\>\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 6
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Review\>\:\:first\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Review\>\:\:selectRaw\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Method App\\Repositories\\Eloquent\\BookRepository\:\:update\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Parameter \#1 \$collection of method Illuminate\\Pagination\\AbstractPaginator\<int,App\\Models\\Book\>\:\:setCollection\(\) expects Illuminate\\Support\\Collection\<int, App\\Models\\Book\>, Illuminate\\Support\\Collection\<int, App\\Dto\\Book\\BookResponseDto\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Repositories/Eloquent/BookRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\CartItem\>\:\:join\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/CartItemRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\CartItem\>\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/CartItemRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\CartItem\>\:\:sum\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/CartItemRepository.php

		-
			message: '#^Method App\\Repositories\\Eloquent\\CartItemRepository\:\:update\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Repositories/Eloquent/CartItemRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Conversation\>\:\:orderByDesc\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/ConversationRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Message\>\:\:count\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/ConversationRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Message\>\:\:whereExists\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/ConversationRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:latest\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/ConversationRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:whereColumn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/ConversationRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:whereNull\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/ConversationRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Favorite\>\:\:limit\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/FavoriteRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Favorite\>\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/FavoriteRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Favorite\>\:\:orderByDesc\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/FavoriteRepository.php

		-
			message: '#^Method App\\Repositories\\Eloquent\\FavoriteRepository\:\:update\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Repositories/Eloquent/FavoriteRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Genre\>\:\:limit\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/GenreRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Genre\>\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: app/Repositories/Eloquent/GenreRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Genre\>\:\:select\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: app/Repositories/Eloquent/GenreRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Genre\>\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/GenreRepository.php

		-
			message: '#^Method App\\Repositories\\Eloquent\\GenreRepository\:\:update\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Repositories/Eloquent/GenreRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Message\>\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/MessageRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Message\>\:\:whereNull\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/MessageRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\OrderItem\>\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Repositories/Eloquent/OrderItemRepository.php

		-
			message: '#^Method App\\Repositories\\Eloquent\\OrderItemRepository\:\:update\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Repositories/Eloquent/OrderItemRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Order\>\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 6
			path: app/Repositories/Eloquent/OrderRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Order\>\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: app/Repositories/Eloquent/OrderRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\User\>\:\:whereColumn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: app/Repositories/Eloquent/OrderRepository.php

		-
			message: '#^Method App\\Repositories\\Eloquent\\OrderRepository\:\:update\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Repositories/Eloquent/OrderRepository.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Models\\Order\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Repositories/Eloquent/OrderRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Review\>\:\:orderBy\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 7
			path: app/Repositories/Eloquent/ReviewRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Review\>\:\:whereIn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 2
			path: app/Repositories/Eloquent/ReviewRepository.php

		-
			message: '#^Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\User\>\:\:whereColumn\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: app/Repositories/Eloquent/ReviewRepository.php

		-
			message: '#^Method App\\Repositories\\Eloquent\\ReviewRepository\:\:update\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Repositories/Eloquent/ReviewRepository.php

		-
			message: '#^Cannot access offset ''hits'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Services/Book/SearchBookByQueryService.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Services/Book/SearchBookByQueryService.php

		-
			message: '#^Call to an undefined method Elastic\\Elasticsearch\\Response\\Elasticsearch\|Http\\Promise\\Promise\:\:asArray\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/Book/SearchBookForDashboardService.php

		-
			message: '#^Cannot access offset ''hits'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Services/Book/SearchBookForDashboardService.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Services/Book/SearchBookForDashboardService.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: app/Services/Book/SearchBookForDashboardService.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(App\\Dto\\Book\\BookResponseDto\)\: array\{id\: int, title\: string, author\: string\|null, url\: string\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Book/SearchSuggestBookService.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(App\\Dto\\Book\\BookResponseDto\)\: array\{id\: int, title\: string, author\: string\|null, cover_image\: string\|null, price\: float, url\: string\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Book/SearchSuggestCatalogBookService.php

		-
			message: '#^Dynamic call to static method Illuminate\\Session\\Store\:\:forget\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 1
			path: app/Services/Cart/SessionGuestCartStorage.php
