includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max

    paths:
        - app

    excludePaths:
        - routes
        - tests

    parallel:
        maximumNumberOfProcesses: 1

    checkUninitializedProperties: true
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: false

    noUnnecessaryCollectionCall: true
    checkModelProperties: true
    checkOctaneCompatibility: false

    ignoreErrors:
        - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Relations\\#'
        - '#Dynamic call to static method Illuminate\\Session\\Store#'
        - '#Dynamic call to static method Illuminate\\Contracts\\Auth\\Guard#'
        - '#Template type TValue on class Illuminate\\Support\\Collection is not covariant#'
        - '#Template type TValue on class Illuminate\\Pagination\\LengthAwarePaginator is not covariant#'
